In [1]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [2]:
#import carsdotcom file

In [3]:
address = "C:/Users/darog/OneDrive/Documents/CAPSTONE DATA SCIENCE/USED CARS CAPSTONE/csv files/final files/cardotcom_Emmanuel_last_one.csv"
csvfile = pd.read_csv(address)

In [4]:
csvfile.head()

,Unnamed: 0,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location
0,0,699097326,BMW,M5,2014,30000,56500,Automatic,FWD,Omar (Private Seller),Washington
1,1,703358833,BMW,X5,2010,58768,19999,Automatic,FWD,David (Private Seller),Washington
2,2,704738631,Chrysler,Sebring,2008,88000,5000,Automatic,FWD,joseph (Private Seller),Washington
3,3,705384215,Subaru,Impreza,2009,93651,6300,Automatic,FWD,Karen (Private Seller),Washington
4,4,703829198,Toyota,Land Cruiser,2006,178000,15000,Automatic,FWD,Erin (Private Seller),Washington

In [5]:
csvfile.columns

Index([u'Unnamed: 0', u'car_id', u'car_make', u'car_model', u'car_year',
       u'car_mileage', u'car_price', u'car_transmission', u'car_driveTrain',
       u'car_vendor', u'car_location'],
      dtype='object')

In [6]:
carsdotcom = csvfile.ix[:, {1, 2,3, 4, 5, 6, 7, 8, 9, 10}]
carsdotcom.head()

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location
0,699097326,BMW,M5,2014,30000,56500,Automatic,FWD,Omar (Private Seller),Washington
1,703358833,BMW,X5,2010,58768,19999,Automatic,FWD,David (Private Seller),Washington
2,704738631,Chrysler,Sebring,2008,88000,5000,Automatic,FWD,joseph (Private Seller),Washington
3,705384215,Subaru,Impreza,2009,93651,6300,Automatic,FWD,Karen (Private Seller),Washington
4,703829198,Toyota,Land Cruiser,2006,178000,15000,Automatic,FWD,Erin (Private Seller),Washington

In [7]:
car_location = carsdotcom['car_location']
car_vendor = carsdotcom['car_vendor']

temp_car_location = car_location
carsdotcom['car_vendor'] = temp_car_location

C:\Users\darog\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
carsdotcom

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location
0,699097326,BMW,M5,2014,30000,56500,Automatic,FWD,Washington,Washington
1,703358833,BMW,X5,2010,58768,19999,Automatic,FWD,Washington,Washington
2,704738631,Chrysler,Sebring,2008,88000,5000,Automatic,FWD,Washington,Washington
3,705384215,Subaru,Impreza,2009,93651,6300,Automatic,FWD,Washington,Washington
4,703829198,Toyota,Land Cruiser,2006,178000,15000,Automatic,FWD,Washington,Washington
5,703138955,Toyota,4Runner,2001,259850,2700,Automatic,FWD,Washington,Washington
6,705132961,Honda,Accord,2013,47000,13500,Automatic,FWD,Washington,Washington
7,701650229,Chrysler,300C,2014,60600,16200,Automatic,FWD,Washington,Washington
8,704458204,Nissan,300ZX,1985,123000,2199,Automatic,FWD,Washington,Washington
9,699185889,Jeep,Wrangler,2007,98000,14000,Automatic,FWD,Washington,Washington
10,700441726,Audi,A8,2013,60000,34000,Automatic,FWD,Washington,Washington
11,704210738,Jeep,Compass,2012,35000,13500,Automatic,FWD,Washington,Washington
12,705812870,Mazda,MX-5 Miata,2006,49167,9500,Automatic,FWD,Washington,Washington
13,696069101,Nissan,Juke,2013,61000,11000,Automatic,FWD,Washington,Washington
14,701037502,INFINITI,G37,2009,79713,12999,Automatic,FWD,Washington,Washington
15,700598338,BMW,328,2009,96500,9500,Automatic,FWD,Washington,Washington
16,704458249,Volvo,C30,2008,129460,8695,Automatic,FWD,Washington,Washington
17,704336402,Audi,RS6,2003,141444,11995,Automatic,FWD,Washington,Washington
18,704854130,Ford,Focus,2007,147238,1900,Automatic,FWD,Washington,Washington
19,705263583,Pontiac,Sunfire,1996,188983,2995,Automatic,FWD,Washington,Washington
20,704505485,Volvo,S90,2017,11000,49495,Automatic,FWD,Washington,Washington
21,704971781,Mercedes-Benz,unknown,2005,38634,47000,Automatic,FWD,Washington,Washington
22,698271140,Audi,A3,2015,23500,25000,Automatic,FWD,Washington,Washington
23,694629276,Toyota,Camry,2014,37000,12495,Automatic,FWD,Washington,Washington
24,703930431,Honda,Accord,2012,50068,11500,Automatic,FWD,Washington,Washington
25,703918446,Mazda,MX-5 Miata,1999,58000,3800,Automatic,FWD,Washington,Washington
26,704173273,Subaru,Outback,2007,98000,7300,Automatic,FWD,Washington,Washington
27,703135654,Chevrolet,Venture,2002,352000,2500,Automatic,FWD,Washington,Washington
28,704737991,Toyota,Highlander,2014,37500,29500,Automatic,FWD,Washington,Washington
29,704162827,Jeep,Grand Cherokee,2012,47100,19500,Automatic,FWD,Washington,Washington
...,...,...,...,...,...,...,...,...,...,...
4521,704552253,Chrysler,300C,2016,26484,21699,Automatic,FWD,Suitland,Suitland
4522,701581614,Audi,A3,2016,26493,24999,Automatic,FWD,Suitland,Suitland
4523,701247495,Chevrolet,Equinox,2016,26866,16999,Automatic,FWD,Suitland,Suitland
4524,704437875,Chrysler,300C,2016,28221,21899,Automatic,FWD,Suitland,Suitland
4525,701247345,INFINITI,G37,2013,28263,19999,Automatic,FWD,Suitland,Suitland
4526,699650109,Lexus,ES 350,2014,28739,26856,Automatic,FWD,Suitland,Suitland
4527,699550917,Nissan,Murano,2014,29433,23999,Automatic,FWD,Suitland,Suitland
4528,704437880,Chrysler,300C,2016,29856,21599,Automatic,FWD,Suitland,Suitland
4529,700300700,Nissan,Altima,2015,31414,14999,Automatic,FWD,Suitland,Suitland
4530,698970734,Nissan,Frontier,2013,36130,18999,Automatic,FWD,Suitland,Suitland
4531,701247569,INFINITI,G37,2013,36273,19999,Automatic,FWD,Suitland,Suitland
4532,699550919,Nissan,Sentra,2012,36600,8999,Automatic,FWD,Suitland,Suitland
4533,700300741,Nissan,Maxima,2013,37470,16499,Automatic,FWD,Suitland,Suitland
4534,700861005,Nissan,Juke,2013,38166,12399,Automatic,FWD,Suitland,Suitland
4535,702081733,Nissan,Sentra,2013,38754,9899,Automatic,FWD,Suitland,Suitland
4536,705713204,Honda,Civic,2011,40220,10899,5-Speed Automatic,FWD,Suitland,Suitland
4537,698149673,Nissan,Murano,2013,40229,17999,Automatic,FWD,Suitland,Suitland
4538,704667646,Nissan,Altima,2015,41193,13900,Automatic,FWD,Suitland,Suitland
4539,699649839,Nissan,Altima,2015,41645,11899,Automatic,FWD,Suitland,Suitland
4540,700300835,Chevrolet,Malibu,2015,42590,11799,Automatic,FWD,Suitland,Suitland
4541,700860608,Nissan,Pathfinder,2014,43234,18999,Automatic,FWD,Suitland,Suitland
4542,694721716,Buick,LaCrosse,2013,43639,16899,Automatic,FWD,Suitland,Suitland
4543,698750678,Nissan,Murano,2013,43788,16999,Automatic,FWD,Suitland,Suitland
4544,700976283,Nissan,Juke,2013,44292,14999,Automatic,FWD,Suitland,Suitland
4545,705712976,Nissan,Rogue,2015,44662,19999,Automatic CVT,AWD,Suitland,Suitland
4546,705104522,BMW,Z4,2011,44735,22900,Automatic,FWD,Suitland,Suitland
4547,705039503,Ford,Fusion,2016,45550,14000,Automatic,FWD,Suitland,Suitland
4548,701247346,Nissan,Maxima,2014,48265,18999,Automatic,FWD,Suitland,Suitland
4549,698122820,Nissan,Rogue,2012,49232,12999,Automatic,FWD,Suitland,Suitland
4550,700192874,Nissan,Murano,2014,49456,16999,Automatic,FWD,Suitland,Suitland

In [9]:
# In order to match the dataset from carsoup.com, we need to fix the columns car_vendor and car_location
# to show at least a city nme and a state. Before doing that and in order to do loops based on strings,
# car_location and car_vendor must be converted to a string type they are set up per default to dtype object

In [10]:
np.unique(carsdotcom['car_location'].values)

array(['Alexandria', 'Arlington', 'Bethesda', 'Bladensburg',
       'Camp Springs', 'Capitol Heights', 'Chevy Chase', 'College Park',
       'District Heights', 'Falls Church', 'Hyattsville', 'Marlow Heights',
       'Oxon Hill', 'Riverdale', 'Silver Spring', 'Suitland',
       'Takoma Park', 'Temple Hill', 'Temple Hills', 'Washington'], dtype=object)

In [11]:
#Virginia = Alexandria, Arlington, Falls Church 
#Maryland = Bethesda, Bladensburg, Camp Springs, Capitol Heights, Chevy Chase, College Park, District Heights,
#Marlow Heights,  Hyattsville, Oxon Hill, Riverdale, Silver Spring, Suitland, Takoma Park, Temple Hill, 
#Temple Hills

In [ ]:
carsdotcom['car_location'] = carsdotcom['car_location'].astype('str')
carsdotcom['car_vendor'] = carsdotcom['car_vendor'].astype('str')

for index, row in carsdotcom.iterrows():
    
    if row['car_vendor'] == 'Washington':
        temp_car_location_DC = 'DC'
        row['car_location'] = temp_car_location_DC
        carsdotcom.ix[index]['car_location'] = row['car_location']
        #print carsdotcom.ix[index]['car_location']
            
    elif row['car_vendor'] == 'Alexandria' or  row['car_vendor'] =='Arlington' or row['car_vendor']== 'Falls Church':
        temp_car_location_VA = 'VA'
        row['car_location'] = temp_car_location_VA
        carsdotcom.ix[index]['car_location'] = row['car_location']
        #print row['car_location']
        #print carsdotcom.ix[index]['car_location']
   
    else :
        temp_car_location_MD = 'MD'
        row['car_location'] = temp_car_location_MD
        carsdotcom.ix[index]['car_location'] = row['car_location']
        #print row['car_location']
        #print carsdotcom.ix[index]['car_location']

C:\Users\darog\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\darog\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\darog\Anaconda2\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\darog\Anaconda2\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\darog\Anaconda2\lib\site-packages\ipykernel\__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
carsdotcom.head()

In [30]:
df = pd.read_csv('C:/Users/darog/OneDrive/Documents/CAPSTONE DATA SCIENCE/USED CARS CAPSTONE/csv files/final files/carsoup_clean.csv' 
                  , index_col = False, error_bad_lines = False)

In [31]:
df.head()

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
0,73531922,Toyota,Corolla-LE,2015,23036,13298,Automatic,FWD,Chantilly,VA 20151,1.8 4 Cylinder Sequential-Port F.I.
1,72354903,Jeep,Wrangler-Unlimted-Sahara,2012,73619,26995,AUTOMATIC,4WD,Baltimore,MD 21215,3.6L 6 CYL. GAS
2,73704666,Honda,Civic-LX,2014,27784,14097,Automatic,FWD,Ellicott City,MD 21043,1.80L I4
3,73566743,Jeep,Grand-Cherokee-Limited,2014,36636,27899,8-Speed Automatic,4WD,Palmyra,PA 17078,3.6L V6 Flex Fuel 24V VVT
4,73745994,Hyundai,Santa-Fe-Sport-24L,2013,48568,18981,A,AWD,Doylestown,PA 18902,2.40L I4

In [32]:
carsdotcom.head()

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location
0,699097326,BMW,M5,2014,30000,56500,Automatic,FWD,Washington,Washington
1,703358833,BMW,X5,2010,58768,19999,Automatic,FWD,Washington,Washington
2,704738631,Chrysler,Sebring,2008,88000,5000,Automatic,FWD,Washington,Washington
3,705384215,Subaru,Impreza,2009,93651,6300,Automatic,FWD,Washington,Washington
4,703829198,Toyota,Land Cruiser,2006,178000,15000,Automatic,FWD,Washington,Washington

In [33]:
#df1 = pd.DataFrame(df,index = range(0,17043))
#df2 = pd.DataFrame(carsdotcom,index = range(17043, 21495))

In [34]:
#final_df = df.append(carsdotcom)
#final_df.head()

In [35]:
frames = [df, carsdotcom]
final_df = pd.concat(frames)
final_df.head()

,car_driveTrain,car_engine,car_id,car_location,car_make,car_mileage,car_model,car_price,car_transmission,car_vendor,car_year
0,FWD,1.8 4 Cylinder Sequential-Port F.I.,73531922,VA 20151,Toyota,23036,Corolla-LE,13298,Automatic,Chantilly,2015
1,4WD,3.6L 6 CYL. GAS,72354903,MD 21215,Jeep,73619,Wrangler-Unlimted-Sahara,26995,AUTOMATIC,Baltimore,2012
2,FWD,1.80L I4,73704666,MD 21043,Honda,27784,Civic-LX,14097,Automatic,Ellicott City,2014
3,4WD,3.6L V6 Flex Fuel 24V VVT,73566743,PA 17078,Jeep,36636,Grand-Cherokee-Limited,27899,8-Speed Automatic,Palmyra,2014
4,AWD,2.40L I4,73745994,PA 18902,Hyundai,48568,Santa-Fe-Sport-24L,18981,A,Doylestown,2013

In [36]:
final_df_fix = pd.DataFrame(final_df)

In [37]:
final_df_fix.to_csv('final_dataset.csv')

In [38]:
pwd final_df_fix

u'C:\\Users\\darog\\NOTEBOOKS\\PPUC\\To GitHub'

In [39]:
list(final_df_fix.columns.values)

['car_driveTrain',
 'car_engine',
 'car_id',
 'car_location',
 'car_make',
 'car_mileage',
 'car_model',
 'car_price',
 'car_transmission',
 'car_vendor',
 'car_year']

In [40]:
final_df_fix = final_df_fix [ [ 'car_id','car_make','car_model', 'car_year', 'car_mileage', 'car_price',
                               'car_transmission', 'car_driveTrain', 'car_vendor', 'car_location',  'car_engine']]

In [41]:
final_df_fix.tail()

,car_id,car_make,car_model,car_year,car_mileage,car_price,car_transmission,car_driveTrain,car_vendor,car_location,car_engine
4546,705104522,BMW,Z4,2011,44735,22900,Automatic,FWD,Suitland,Suitland,NaN
4547,705039503,Ford,Fusion,2016,45550,14000,Automatic,FWD,Suitland,Suitland,NaN
4548,701247346,Nissan,Maxima,2014,48265,18999,Automatic,FWD,Suitland,Suitland,NaN
4549,698122820,Nissan,Rogue,2012,49232,12999,Automatic,FWD,Suitland,Suitland,NaN
4550,700192874,Nissan,Murano,2014,49456,16999,Automatic,FWD,Suitland,Suitland,NaN

In [42]:
final_df_fix.to_csv('most_recent_version.csv')

In [43]:
pwd final_df_fix

u'C:\\Users\\darog\\NOTEBOOKS\\PPUC\\To GitHub'